.whole-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
}

.main-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--dark-desaturated-blue);
  width: 1000px;
  height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-side {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.right-side {
  position: relative;
  background-image: url("../images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.img-placeholder {
  background-color: hsl(277, 84%, 41%, 0.5);
  position: absolute;
  width: 100vh;
  height: 100vh;
}

.left-side-title {
  margin-bottom: 20px;
  padding: 0 40px 0 40px;
  color: var(--solid-white);
}

.left-side-paragraph {
  margin-bottom: 30px;
  padding: 0 40px 0 40px;
  font-size: 20px;
  color: var(--transparent-white);
}

.left-side-stats {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stats {
    margin: 30px 60px 0 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.quantity {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--solid-white);
}

.category {
  color: var(--alt-transparent-white);
}

.insights {
  color: var(--soft-violet);
}
